@import '../../scss/variables.scss';

.app-header {
  padding: 25px;
  margin-top: 2rem;
  background-color: $bg-color;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}
